/**
 *Lightbox style
 */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black url(../../img/loader.gif) no-repeat scroll center center; 
}

#lightbox {
    position: fixed;
    background-color: #58435c;
}

#lightbox img {
    padding: 5px;
} 